src/main/mule/insert_db.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="04a06e16-e8c4-4fc8-bd3f-43ef26952648" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="3bd3e434-6500-4d39-b6a9-4946b44a52d7" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="massildb" />
	</db:config>
	<flow name="insert_dbFlow" doc:id="8420f2c5-5094-4bc8-9423-c018315281a3" >
		<http:listener doc:name="Listener" doc:id="563e803b-1853-4665-8b92-00f518656f02" config-ref="HTTP_Listener_config" path="/insert"/>
		<logger level="INFO" doc:name="Logger" doc:id="13a66927-3f21-40dd-b652-e3af439d8770" message="#[payload]"/>
		<try doc:name="Try" doc:id="fad340be-5561-4dfc-b2b3-c1e1097b6645" transactionalAction="ALWAYS_BEGIN">
			<db:insert doc:name="Insert" doc:id="0dcefbbf-dbd9-468f-8e6f-f09c066843d2" config-ref="Database_Config" target="stdRecord" transactionalAction="ALWAYS_JOIN" autoGenerateKeys="true" autoGeneratedKeysColumnNames="#[['id']]">
			<reconnect count="3"/>
			<db:sql><![CDATA[insert into massildb.studentdata(rollnumber,firstname,lastname,class,section,status,email) values(:rollnumber,:firstname,:lastname,:class,:section,:status,:email);]]></db:sql>
			<db:parameter-types />
				<db:input-parameters><![CDATA[#[{
	"rollnumber": payload.rollnumber,
	"firstname": payload.firstname,
	"lastname": payload.lastname,
	"class": payload.class,
	"section": payload.section,
	"status": payload.status,
	"email": payload.email
}]]]></db:input-parameters>
		</db:insert>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="54707a6e-090e-4e78-bb39-ea0c2321e37f" type="ANY">
					<ee:transform doc:name="Transform Message" doc:id="7b4a14f6-ea53-4f9d-8fc5-2d7b33a2251d" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "continue"
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</on-error-continue>
			</error-handler>
		</try>
		<logger level="INFO" doc:name="Logger" doc:id="bfb50bc9-c8b7-4bcd-9aca-9c063a68b35c" message="#[payload]"/>
	</flow>
</mule>
